/* common.css */
/* 공통요소 */

@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{ box-sizing: border-box; font-family: 'Open Sans', sans-serif;}
html, body{ margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{ margin: 0;}
ul, ol{ margin: 0; padding: 0; list-style: none;}
a{ text-decoration: none;}

body{ background-color: #171717;}


/* header */
header{ 
    height: 60px;
    background-color: #373737;
}
header .wrap{ 
    width: 1200px; height: 100%;
    margin: 0 auto; padding: 0 10px;
    display: flex; flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .wrap .logo{ }
header .wrap .logo a{ }
header .wrap .logo a img{ 
    display: block;
    height: 30px;
}

header .wrap nav{ }
header .wrap nav ul{ display: flex;}
header .wrap nav ul li{ margin: 0 15px;}
header .wrap nav ul li:last-child{ margin-right: 0;}
header .wrap nav ul li a{ 
    display: block;
    text-transform: uppercase;
    color: #777; font-size: 14px;
}
header .wrap nav ul li:hover a{ color: #ff0;}





/* footer */
footer{ 
    width: 100%; 
}
footer p{ 
    padding: 20px 0;
    background-color: #000;
    border-top: 1px solid #ff0;
    color: #fff; font-size: 14px;
    text-align: center;
}