/* index_res.css */
@charset "utf-8";

@media (max-width: 1199px){
    section .wrap{ width: 100%; padding: 0 20px;}
}

@media (max-width: 767px){
    main{ height: 280px;}
    section{ padding: 50px 0 30px;}
    section .wrap .cont > div{
        width: calc(100% - 20px);
    }
}






























